@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked + label + #menu {
  display: block;
}

body {
  background-color: #f2f2f2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
